@font-face {
    font-family: Monolisa;
    src: url(Monolisa.ttf);
}

* {
    font-family: 'Monolisa';
    font-size: 18px;
    /* padding-bottom: 5px; */
}

.maindiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.m1 {
    margin: 10% 0 3% 0;
}

.m2 {
    margin: 5% 0 3% 0;
}